/* Cure Media */

#exhibitor-2263 {
  margin-bottom: 85px;
}

/* A Ballsy Sense of Tumor */

#exhibitor-1535 {
  margin-bottom: 85px;
  background-size: 100% auto;
  height: 650px;
}

/*ASCP Patient Champions*/

#exhibitor-1892 {
  margin-bottom: 85px;
  background-size: 100% auto;
  height: 650px;
}

/*Aplastic Anemia & MDS International Foundation*/

#exhibitor-1877 {
  margin-bottom: 80px;
  background-size: 100% auto;
  height: 635px;
}

/*B-present*/

#exhibitor-1912 {
  margin-bottom: 80px;
  background-size: 100% auto;
  height: 650px;
}

/*BagIt*/

#exhibitor-1924 {
  margin-bottom: 80px;
  background-size: 100% auto;
  height: 650px;
}

/*Colon Cancer Coalition*/

#exhibitor-2244 {
  margin-bottom: 80px;
  background-size: 100% auto;
  height: 650px;
}

/*Global Colon Cancer Association*/

#exhibitor-2044 {
  margin-bottom: 80px;
  background-size: 100% auto;
  height: 620px;
}

/*Epic Adventures */

#exhibitor-2086 {
  margin-bottom: 80px;
  background-size: 100% auto;
  height: 820px;
}

/*Breast Advocate App*/

#exhibitor-1934 {
  margin-bottom: 80px;
  background-size: 100% auto;
  height: 480px;
}

/* Lung Cancer Iniative */

#exhibitor-2706 {
  margin-bottom: 80px;
  background-size: 100% auto;
  height: 650px;
}

/* Keep a Breast */

#exhibitor-2062 {
  margin-bottom: 80px;
  background-size: 100% auto;
  height: 650px;
}

/* MDS */

#exhibitor-2070 {
  margin-bottom: 80px;
  background-size: 100% auto;
  height: 690px;
}

/* Young Adult Survivor */

#exhibitor-2193 {
  margin-bottom: 80px;
  background-size: 100% auto;
  height: 670px;
}

/*World Bladder*/

#exhibitor-2181 {
  margin-bottom: 80px;
  background-size: 100% auto;
  height: 600px;
}

/*Young and Strong */

#exhibitor-4257 {
  margin-bottom: 80px;
  background-size: 100% auto;
  height: 650px;
}

/*Triage Cancer*/

#exhibitor-2166 {
  margin-bottom: 80px;
  background-size: 100% auto;
  height: 650px;
}

/*pan foundation*/

#exhibitor-3493 {
  margin-bottom: 80px;
  background-size: 100% auto;
  height: 650px;
}

/*Tigferlily Cancer*/

#exhibitor-2159 {
  margin-bottom: 80px;
  background-size: 100% auto;
  height: 680px;
}

/*patient power*/

#exhibitor-2574 {
  margin-bottom: 80px;
  background-size: 100% auto;
  height: 650px;
}

/*Patient Story */

#exhibitor-2239 {
  margin-bottom: 80px;
  background-size: 100% auto;
  height: 370px;
}

/*The Atrium Foundation*/

#exhibitor-4132 {
  margin-bottom: 80px;
  background-size: 100% auto;
  height: 460px;
}

/*Cervivor */

/*DiepCFoundation*/

/*Young-survival-coaliation*/

#exhibitor-1977,
#exhibitor-1995,
#exhibitor-2196 {
  margin-bottom: 80px;
}

/*ThYCA*/

#exhibitor-2143 {
  margin-bottom: 80px;
  background-size: 100% auto;
  height: 650px;
}

/*Stupid Cancer*/

#exhibitor-2122 {
  margin-bottom: 80px;
  background-size: 100% auto;
  height: 650px;
}

/* BMS Study Connect */

#exhibitor-3902 {
  margin-bottom: 85px;
  background-size: 100% auto;
  height: 650px;
}

/* AIM */

#exhibitor-2731 {
  margin-bottom: 85px;
  background-size: 100% auto;
  height: 650px;
}

/* Amgen*/

#exhibitor-4075 {
  margin-bottom: 75px;
  background-size: 100% auto;
  height: 300px;
}

/* Ancora AI */

#exhibitor-2723,
#exhibitor-1869 {
  margin-bottom: 80px;
  background-size: 100% auto;
  height: 600px;
}

/* BreatCnacerTrials */

#exhibitor-3511 {
  margin-bottom: 80px;
  background-size: 100% auto;
  height: 450px;
}

/* LLS */

#exhibitor-3343,
#exhibitor-2130 {
  margin-bottom: 80px;
  background-size: 100% auto;
  height: 600px;
}

/* Syneos */

#exhibitor-3315 {
  margin-bottom: 80px;
  background-size: 100% auto;
  height: 600px;
}

/* SeaGen */

#exhibitor-3921 {
  margin-bottom: 80px;
  background-size: 100% auto;
  height: 270px;
}

.banner-control {
  height: 400px;
}

@media screen and (max-width: 2048px) {
  /* Cactus Cancer Society */
  #exhibitor-1944 {
    height: 500px;
  }
  /*DiepCFoundation*/
  #exhibitor-1995 {
    height: 620px;
  }
  /*IWMF*/
  #exhibitor-2052 {
    height: 600px;
  }
}

@media screen and (max-width: 1920px) {
  /*EMD Serono */
  #exhibitor-4000 {
    height: 700px;
  }
}

@media screen and (max-width: 1680px) {
  /* Ancora AI */
  #exhibitor-2723,
	#exhibitor-1869,
	/*Aplastic Anemia & MDS International Foundation*/
	#exhibitor-1877 {
    height: 520px;
  }
  /* BreatCnacerTrials */
  #exhibitor-3511 {
    height: 370px;
  }
  /* BMS Study Connect */
  #exhibitor-3902,
	/*Triage Cancer*/
	#exhibitor-2166,
	/* AIM */
	#exhibitor-2731,
	/* LLS */
	#exhibitor-2130,
	/* ABST */
	#exhibitor-1535,
	/*ASCP Patient Champions*/
	#exhibitor-1892,
	/*B-present*/
	#exhibitor-1912,
	/*BagIt*/
	#exhibitor-1924,
	/*Colon Cancer Coalition*/
	#exhibitor-2244,
	/* Lung Cancer Iniative */
	#exhibitor-2706,
	/* Keep a Breast */
	#exhibitor-2062,
	/*Stupid Cancer*/
	#exhibitor-2122,
	/* MDS */
	#exhibitor-2070,
	/* Young Adult Survivor */
	#exhibitor-2193,
	/*Young and Strong */
	#exhibitor-4257,
	/*Tigferlily Cancer*/
	#exhibitor-2159,
	/*pan foundation*/
	#exhibitor-3493,
	/*patient power*/
	#exhibitor-2574,
	/*ThYCA*/
	#exhibitor-2143 {
    height: 600px;
  }
  /*World Bladder*/
  #exhibitor-2181 {
    height: 530px;
  }
  /*Breast Advocate App*/
  #exhibitor-1934,
	/*The Atrium Foundation*/
	#exhibitor-4132 {
    height: 400px;
  }
  /*DiepCFoundation*/
  #exhibitor-1995,
	/*Global Colon Cancer Association*/
	#exhibitor-2044 {
    height: 550px;
  }
  /*Epic Adventures */
  #exhibitor-2086 {
    height: 790px;
  }
  /*Patient Story */
  #exhibitor-2239 {
    height: 310px;
  }
  /* SeaGen */
  #exhibitor-3921 {
    height: 230px;
  }
  /* Amgen*/
  #exhibitor-4075 {
    height: 260px;
  }
  /*LLS */
  #exhibitor-3343 {
    height: 540px;
  }
}

@media screen and (max-width: 1440px) {
  /* Ancora AI */
  #exhibitor-2723,
	#exhibitor-1869,
	/*World Bladder*/
	#exhibitor-2181 {
    height: 450px;
  }
  /* BreatCnacerTrials */
  #exhibitor-3511,
	/*The Atrium Foundation*/
	#exhibitor-4132 {
    height: 350px;
  }
  /* Syneos */
  #exhibitor-3315,
	/* Young Adult Survivor */
	#exhibitor-2193,
	/*Young and Strong */
	#exhibitor-4257,
	/*Triage Cancer*/
	#exhibitor-2166 {
    height: 500px;
  }
  /*LLS */
  #exhibitor-3343,
  #exhibitor-2130 {
    height: 460px;
  }
  /* BMS Study Connect */
  #exhibitor-3902,
	/* AIM */
	#exhibitor-2731,
	/* LLS */
	#exhibitor-2130,
	/* ABST */
	#exhibitor-1535,
	/*ASCP Patient Champions*/
	#exhibitor-1892,
	/*B-present*/
	#exhibitor-1912,
	/*BagIt*/
	#exhibitor-1924,
	/*Stupid Cancer*/
	#exhibitor-2122,
	/*Colon Cancer Coalition*/
	#exhibitor-2244,
	/* Lung Cancer Iniative */
	#exhibitor-2706,
	/* Keep a Breast */
	#exhibitor-2062,
	/*pan foundation*/
	#exhibitor-3493,
	/*patient power*/
	#exhibitor-2574,
	/*ThYCA*/
	#exhibitor-2143 {
    height: 500px;
  }
  /*Aplastic Anemia & MDS International Foundation*/
  #exhibitor-1877,
	/*Global Colon Cancer Association*/
	#exhibitor-2044 {
    height: 475px;
  }
  /*Breast Advocate App*/
  #exhibitor-1934 {
    height: 350px;
  }
  /*Catcus Cancer Society */
  #exhibitor-1944 {
    height: 400px;
  }
  /*DiepCFoundation*/
  #exhibitor-1995 {
    height: 550px;
  }
  /*Epic Adventures */
  #exhibitor-2086 {
    height: 680px;
  }
  /* MDS */
  #exhibitor-2070 {
    height: 520px;
  }
  /*Tigferlily Cancer*/
  #exhibitor-2159 {
    height: 510px;
  }
  /*Patient Story */
  #exhibitor-2239 {
    height: 275px;
  }
  /* SeaGen */
  #exhibitor-3921 {
    height: 200px;
  }
  /* Amgen*/
  #exhibitor-4075 {
    height: 220px;
  }
}

@media screen and (max-width: 1280px) {
  /* BMS Study Connect */
  #exhibitor-3902,
	/* AIM */
	#exhibitor-2731,
	/* LLS */
	#exhibitor-3343,
	#exhibitor-2130,
	/*Stupid Cancer*/
	#exhibitor-2122,
	/* ABST */
	#exhibitor-1535,
	/*ASCP Patient Champions*/
	#exhibitor-1892,
	/*Aplastic Anemia & MDS International Foundation*/
	#exhibitor-1877,
	/*B-present*/
	#exhibitor-1912,
	/*BagIt*/
	#exhibitor-1924,
	/*Colon Cancer Coalition*/
	#exhibitor-2244,
	/* Lung Cancer Iniative */
	#exhibitor-2706,
	/* Keep a Breast */
	#exhibitor-2062,
	/*pan foundation*/
	#exhibitor-3493,
	/*patient power*/
	#exhibitor-2574,
	/*ThYCA*/
	#exhibitor-2143 {
    height: 400px;
  }
  /* Amgen*/
  #exhibitor-4075 {
    height: 200px;
  }
  /* Ancora AI */
  #exhibitor-2723,
	#exhibitor-1869,
	/*IWMF*/
	#exhibitor-2052 {
    height: 400px;
  }
  /* BreatCnacerTrials */
  #exhibitor-3511,
	/*The Atrium Foundation*/
	#exhibitor-4132 {
    height: 300px;
  }
  /* Syneos */
  #exhibitor-3315,
	/*Young and Strong */
	#exhibitor-4257 {
    height: 440px;
  }
  /*Breast Advocate App*/
  #exhibitor-1934 {
    height: 300px;
  }
  /*DiepCFoundation*/
  #exhibitor-1995,
	/*World Bladder*/
	#exhibitor-2181 {
    height: 400px;
  }
  /*Global Colon Cancer Association*/
  #exhibitor-2044 {
    height: 415px;
  }
  /*Epic Adventures */
  #exhibitor-2086 {
    height: 590px;
  }
  /* MDS */
  #exhibitor-2070,
	/* Young Adult Survivor */
	#exhibitor-2193,
	/*Triage Cancer*/
	#exhibitor-2166,
	/*Tigferlily Cancer*/
	#exhibitor-2159 {
    height: 450px;
  }
  /*Patient Story */
  #exhibitor-2239 {
    height: 240px;
  }
  /* SeaGen */
  #exhibitor-3921 {
    height: 175px;
  }
  /*EMD Serono */
  #exhibitor-4000 {
    height: 500px;
  }
}

@media screen and (max-width: 1080px) {
  /* Ancora AI */
  #exhibitor-2723,
  #exhibitor-1869 {
    height: 320px;
  }
  /* BreatCnacerTrials */
  #exhibitor-3511 {
    height: 258px;
  }
  /*The Atrium Foundation*/
  #exhibitor-4132 {
    height: 250px;
  }
  /* Syneos */
  #exhibitor-3315 {
    height: 300px;
  }
  #exhibitor-2130,
	/*Aplastic Anemia & MDS International Foundation*/
	#exhibitor-1877 {
    height: 350px;
  }
  /*ASCP Patient Champions*/
  #exhibitor-1892,
	/* Lung Cancer Iniative */
	#exhibitor-2706,
	/*Stupid Cancer*/
	#exhibitor-2122,
	/* Keep a Breast */
	#exhibitor-2062,
	/*pan foundation*/
	#exhibitor-3493,
	/*patient power*/
	#exhibitor-2574,
	/*B-present*/
	#exhibitor-1912,
	/*ThYCA*/
	#exhibitor-2143 {
    height: 380px;
  }
  /*Breast Advocate App*/
  #exhibitor-1934 {
    height: 260px;
  }
  /* MDS */
  #exhibitor-2070,
	/*Triage Cancer*/
	#exhibitor-2166 {
    height: 380px;
  }
  /* Young Adult Survivor */
  #exhibitor-2193,
	/*Young and Strong */
	#exhibitor-4257,
	/*Tigferlily Cancer*/
	#exhibitor-2159,
	/*BagIt*/
	#exhibitor-1924 {
    height: 370px;
  }
  /*World Bladder*/
  #exhibitor-2181,
	/*LLS*/
	#exhibitor-3343 {
    height: 340px;
  }
  /*Young-survival-coaliation*/
  #exhibitor-2196 {
    height: 340px;
    background-size: 100% auto;
  }
  /*Patient Story */
  #exhibitor-2239 {
    height: 200px;
  }
  /* SeaGen */
  #exhibitor-3921 {
    height: 148px;
  }
  /* Amgen*/
  #exhibitor-4075 {
    height: 170px;
  }
  /* BMS Study Connect */
  #exhibitor-3902,
	/*Colon Cancer Coalition*/
	#exhibitor-2244 {
    height: 360px;
  }
  /*Epic Adventures */
  #exhibitor-2086 {
    height: 500px;
  }
  /*Global Colon Cancer Association*/
  #exhibitor-2044 {
    height: 350px;
  }
  /*EMD Serono */
  #exhibitor-4000 {
    height: 400px;
  }
}

@media screen and (max-width: 1024px) {
  /* BMS Study Connect */
  #exhibitor-3902,
	/*Stupid Cancer*/
	#exhibitor-2122,
	/*patient power*/
	#exhibitor-2574,
	/*ThYCA*/
	#exhibitor-2143,
	/* AIM */
	#exhibitor-2731,
	/* ABST */
	#exhibitor-1535,
	/*ASCP Patient Champions*/
	#exhibitor-1892,
	/*B-present*/
	#exhibitor-1912,
	/*BagIt*/
	#exhibitor-1924,
	/*Colon Cancer Coalition*/
	#exhibitor-2244,
	/* Lung Cancer Iniative */
	#exhibitor-2706,
	/* Keep a Breast */
	#exhibitor-2062 {
    margin-bottom: 4px;
    height: 350px;
  }
  /* Amgen*/
  #exhibitor-4075 {
    margin-bottom: 7px;
    height: 160px;
  }
  #exhibitor-1869 {
    margin-bottom: 8px;
    height: 249px;
  }
  #exhibitor-2723 {
    margin-bottom: 8px;
    height: 322px;
  }
  /* BreatCnacerTrials */
  #exhibitor-3511 {
    height: 240px;
    margin-bottom: 8px;
  }
  /* Cure Media */
  #exhibitor-2263 {
    margin-bottom: 8px;
  }
  /*DiepCFoundation*/
  #exhibitor-1995 {
    height: 340px;
    margin-bottom: 8px;
    background-size: 100% auto;
  }
  /*Health Central */
  #exhibitor-2587 {
    height: 340px;
    margin-bottom: 8px;
    background-size: 100% auto;
  }
  /*Global Colon Cancer Association*/
  #exhibitor-2044 {
    height: 330px;
    margin-bottom: 8px;
  }
  /*Epic Adventures */
  #exhibitor-2086 {
    height: 470px;
    margin-bottom: 8px;
  }
  /* MDS */
  #exhibitor-2070 {
    height: 360px;
    margin-bottom: 8px;
  }
  /* Young Adult Survivor */
  #exhibitor-2193,
	/*Young and Strong */
	#exhibitor-4257 {
    height: 350px;
    margin-bottom: 8px;
  }
  /*World Bladder*/
  #exhibitor-2181 {
    height: 310px;
    margin-bottom: 8px;
  }
  /*Young-survival-coaliation*/
  #exhibitor-2196 {
    height: 340px;
    margin-bottom: 8px;
    background-size: 100% auto;
  }
  /*Triage Cancer*/
  #exhibitor-2166 {
    height: 340px;
    margin-bottom: 8px;
  }
  /*Tigferlily Cancer*/
  #exhibitor-2159,
	/*pan foundation*/
	#exhibitor-3493 {
    height: 350px;
    margin-bottom: 8px;
  }
  /*The Atrium Foundation*/
  #exhibitor-4132 {
    height: 245px;
    margin-bottom: 8px;
  }
  /*Patient Story */
  #exhibitor-2239 {
    height: 190px;
    margin-bottom: 8px;
  }
  /* SeaGen */
  #exhibitor-3921 {
    height: 142px;
    margin-bottom: 8px;
  }
  /*LLS */
  #exhibitor-3343 {
    height: 320px;
    margin-bottom: 8px;
  }
  /*Breast Advocate App*/
  #exhibitor-1934 {
    height: 220px;
    margin-bottom: 8px;
  }
}

@media screen and (max-width: 1024px) and (height: 1036) {
  /*DiepCFoundation*/
  #exhibitor-1995 {
    height: 320px;
  }
  /* MDS */
  #exhibitor-2070 {
    height: 320px;
  }
  /* SeaGen */
  #exhibitor-3921 {
    height: 142px;
    margin-bottom: 8px;
  }
}

@media screen and (max-width: 800px) {
  /* BMS Study Connect */
  #exhibitor-3902,
	/*patient power*/
	#exhibitor-2574,
	/*Stupid Cancer*/
	#exhibitor-2122,
	/*ThYCA*/
	#exhibitor-2143,
	/*pan foundation*/
	#exhibitor-3493,
	/* AIM */
	#exhibitor-2731,
	/* ABST */
	#exhibitor-1535,
	/*ASCP Patient Champions*/
	#exhibitor-1892,
	/*B-present*/
	#exhibitor-1912,
	/*BagIt*/
	#exhibitor-1924,
	/*Colon Cancer Coalition*/
	#exhibitor-2244,
	/* Lung Cancer Iniative */
	#exhibitor-2706,
	/* Keep a Breast */
	#exhibitor-2062 {
    margin-bottom: 15px;
    height: 250px;
  }
  /* Amgen*/
  #exhibitor-4075 {
    margin-bottom: 5px;
    height: 120px;
  }
  /* BreatCnacerTrials */
  #exhibitor-3511 {
    height: 180px;
    margin-bottom: 8px;
  }
  /* Syneos */
  #exhibitor-3315,
	/* Young Adult Survivor */
	#exhibitor-2193 {
    height: 270px;
    margin-bottom: 8px;
  }
  /*LLS */
  #exhibitor-3343,
	#exhibitor-2130,
	/*Aplastic Anemia & MDS International Foundation*/
	#exhibitor-1877 {
    height: 250px;
    margin-bottom: 8px;
  }
  /* Cure Media */
  #exhibitor-2263 {
    height: 165px;
    margin-bottom: 8px;
    background-size: 100% auto;
  }
  /* Lungevity */
  #exhibitor-3876 {
    height: 250px;
    background-size: 100% auto;
  }
  /*abridge */
  /*abridge */
  #exhibitor-1858 {
    height: 250px;
    background-size: 100% auto;
  }
  /*Breast Advocate App*/
  #exhibitor-1934 {
    height: 190px;
    margin-bottom: 8px;
  }
  /*Brilliantly */
  /*Brilliantly */
  #exhibitor-1940 {
    height: 165px;
    margin-bottom: 8px;
    background-size: 100% auto;
  }
  /*Cervivor */
  #exhibitor-1977 {
    height: 180px;
    background-size: 100% auto;
    margin-bottom: 8px;
  }
  /* Escape */
  #exhibitor-2008,
	/*Immerman's Angels */
	#exhibitor-2200 {
    height: 250px;
    background-size: 100% auto;
    margin-bottom: 8px;
  }
  /*DiepCFoundation*/
  #exhibitor-1995 {
    height: 250px;
  }
  /*Health Central */
  #exhibitor-2587,
	/*Global Colon Cancer Association*/
	#exhibitor-2044 {
    height: 250px;
  }
  /* CancerCare */
  #exhibitor-1953 {
    height: 250px;
    background-size: 100% auto;
    margin-bottom: 8px;
  }
  /*Epic Adventures */
  #exhibitor-2086 {
    height: 360px;
  }
  /* MDS */
  #exhibitor-2070 {
    height: 275px;
    margin-bottom: 8px;
  }
  /*IWMF*/
  #exhibitor-2052 {
    height: 250px;
    background-size: 100% auto;
    margin-bottom: 8px;
  }
  /*World Bladder*/
  #exhibitor-2181 {
    height: 240px;
  }
  /*Young-survival-coaliation*/
  #exhibitor-2196,
	/*Young and Strong */
	#exhibitor-4257,
	/*Triage Cancer*/
	#exhibitor-2166,
	/*Tigferlily Cancer*/
	#exhibitor-2159 {
    height: 270px;
  }
  /*The Atrium Foundation*/
  #exhibitor-4132 {
    height: 185px;
  }
  /*Patient Story */
  #exhibitor-2239 {
    height: 145px;
  }
  /* SeaGen */
  #exhibitor-3921 {
    height: 108px;
  }
  /*EMD Serono */
  #exhibitor-4000 {
    height: 350px;
  }
}

@media screen and (max-width: 768px) {
  /* Ancora AI */
  #exhibitor-2723,
	#exhibitor-1869,
	/*World Bladder*/
	#exhibitor-2181 {
    margin-bottom: 8px;
    height: 230px;
  }
  /* Syneos */
  #exhibitor-3315 {
    height: 250px;
  }
  /*LLS */
  #exhibitor-3343,
	#exhibitor-2130,
	/*Aplastic Anemia & MDS International Foundation*/
	#exhibitor-1877 {
    height: 235px;
  }
  /* Cure Media */
  #exhibitor-2263,
	/*Brilliantly */
	#exhibitor-1940 {
    height: 150px;
  }
  /* Lungevity */
  #exhibitor-3876,
	/*abridge */
	#exhibitor-1858,
	/*Global Colon Cancer Association*/
	#exhibitor-2044 {
    height: 240px;
  }
  /*Breast Advocate App*/
  #exhibitor-1934,
	/*The Atrium Foundation*/
	#exhibitor-4132 {
    height: 180px;
  }
  /*Epic Adventures */
  #exhibitor-2086 {
    height: 340px;
  }
  /* MDS */
  #exhibitor-2070,
	/* Young Adult Survivor */
	#exhibitor-2193,
	/*Stupid Cancer*/
	#exhibitor-2122,
	/*Young-survival-coaliation*/
	#exhibitor-2196,
	/*ThYCA*/
	#exhibitor-2143,
	/*Young and Strong */
	#exhibitor-4257,
	/*Triage Cancer*/
	#exhibitor-2166,
	/*Tigferlily Cancer*/
	#exhibitor-2159 {
    height: 260px;
  }
  /*Patient Story */
  #exhibitor-2239 {
    height: 143px;
  }
  /* SeaGen */
  #exhibitor-3921 {
    height: 105px;
  }
  /*EMD Serono */
  #exhibitor-4000 {
    height: 280px;
  }
}

@media screen and (max-width: 640px) {
  /* BMS Study Connect */
  #exhibitor-3902,
	/*patient power*/
	#exhibitor-2574,
	/* AIM */
	#exhibitor-2731,
	/*Stupid Cancer*/
	#exhibitor-2122,
	/*pan foundation*/
	#exhibitor-3493,
	/*ThYCA*/
	#exhibitor-2143,
	/* ABST */
	#exhibitor-1535,
	/*ASCP Patient Champions*/
	#exhibitor-1892,
	/*B-present*/
	#exhibitor-1912,
	/*BagIt*/
	#exhibitor-1924,
	/*Colon Cancer Coalition*/
	#exhibitor-2244,
	/* Lung Cancer Iniative */
	#exhibitor-2706,
	/* Keep a Breast */
	#exhibitor-2062 {
    margin-bottom: 5px;
    height: 350px;
  }
  /* Ancora AI */
  #exhibitor-2723,
  #exhibitor-1869 {
    margin-bottom: 10px;
    height: 310px;
  }
  /* BreatCnacerTrials */
  #exhibitor-3511 {
    height: 330px;
  }
  /*LLS */
  #exhibitor-3343,
	#exhibitor-2130,
	/*Aplastic Anemia & MDS International Foundation*/
	#exhibitor-1877 {
    height: 320px;
  }
  /* Syneos */
  #exhibitor-3315 {
    height: 330px;
  }
  /* Cure Media */
  #exhibitor-2263,
	/*Brilliantly */
	#exhibitor-1940 {
    height: 195px;
  }
  /*DiepCFoundation*/
  #exhibitor-1995 {
    height: 320px;
  }
  /*Global Colon Cancer Association*/
  #exhibitor-2044 {
    height: 315px;
  }
  /*Immerman's Angels */
  #exhibitor-2200 {
    height: 215px;
  }
  /* MDS */
  #exhibitor-2070,
	/*Tigferlily Cancer*/
	#exhibitor-2159 {
    height: 350px;
  }
  /*IWMF*/
  #exhibitor-2052 {
    height: 300px;
  }
  /*World Bladder*/
  #exhibitor-2181 {
    height: 310px;
  }
  /*Young and Strong */
  #exhibitor-4257 {
    height: 340px;
  }
  /*Patient Story */
  #exhibitor-2239 {
    height: 175px;
  }
  /*EMD Serono */
  #exhibitor-4000 {
    height: 400px;
  }
}

@media screen and (max-width: 600px) {
  /* BMS Study Connect */
  #exhibitor-3902,
	/*patient power*/
	#exhibitor-2574,
	/* AIM */
	#exhibitor-2731,
	/*Stupid Cancer*/
	#exhibitor-2122,
	/*ThYCA*/
	#exhibitor-2143,
	/* ABST */
	#exhibitor-1535,
	/*pan foundation*/
	#exhibitor-3493,
	/*ASCP Patient Champions*/
	#exhibitor-1892,
	/*B-present*/
	#exhibitor-1912,
	/*BagIt*/
	#exhibitor-1924,
	/*Colon Cancer Coalition*/
	#exhibitor-2244,
	/* Lung Cancer Iniative */
	#exhibitor-2706,
	/* Keep a Breast */
	#exhibitor-2062 {
    height: 300px;
  }
  /* Amgen*/
  #exhibitor-4075 {
    height: 150px;
  }
  /* Ancora AI */
  #exhibitor-2723,
  #exhibitor-1869 {
    height: 300px;
  }
  /* BreatCnacerTrials */
  #exhibitor-3511 {
    height: 210px;
  }
  /*Breast Advocate App*/
  #exhibitor-1934 {
    height: 230px;
  }
  /*Cervivor */
  #exhibitor-1977 {
    height: 190px;
  }
  /*DiepCFoundation*/
  #exhibitor-1995,
	/*Global Colon Cancer Association*/
	#exhibitor-2044,
	#exhibitor-3343 {
    height: 300px;
  }
  /*Epic Adventures */
  #exhibitor-2086 {
    height: 440px;
  }
  /* MDS */
  #exhibitor-2070,
	/*Tigferlily Cancer*/
	#exhibitor-2159 {
    height: 330px;
  }
  /*World Bladder*/
  #exhibitor-2181 {
    height: 290px;
  }
  /*Young and Strong */
  #exhibitor-4257,
	/*Triage Cancer*/
	#exhibitor-2166 {
    height: 320px;
  }
  /*The Atrium Foundation*/
  #exhibitor-4132 {
    height: 200px;
  }
  /*Patient Story */
  #exhibitor-2239 {
    height: 175px;
  }
  /* SeaGen */
  #exhibitor-3921 {
    height: 132px;
  }
}

@media screen and (max-width: 540px) {
  /* BreatCnacerTrials */
  #exhibitor-3511,
	/*The Atrium Foundation*/
	#exhibitor-4132 {
    height: 190px;
  }
  /* Amgen*/
  #exhibitor-4075 {
    margin-bottom: 5px;
    height: 120px;
  }
  /* Ancora AI */
  #exhibitor-2723,
  #exhibitor-1869 {
    margin-bottom: 10px;
    height: 240px;
  }
  /* BMS Study Connect */
  #exhibitor-3902,
	/*patient power*/
	#exhibitor-2574,
	/* AIM */
	#exhibitor-2731,
	/*ThYCA*/
	#exhibitor-2143,
	/* ABST */
	#exhibitor-1535,
	/*ASCP Patient Champions*/
	#exhibitor-1892,
	/*B-present*/
	#exhibitor-1912,
	/*BagIt*/
	#exhibitor-1924,
	/*Colon Cancer Coalition*/
	#exhibitor-2244,
	/*Global Colon Cancer Association*/
	#exhibitor-2044,
	/* Lung Cancer Iniative */
	#exhibitor-2706,
	/* Keep a Breast */
	#exhibitor-2062 {
    margin-bottom: 3px;
    height: 260px;
  }
  /*LLS */
  #exhibitor-3343,
	#exhibitor-2130,
	/*Aplastic Anemia & MDS International Foundation*/
	#exhibitor-1877,
	/*Stupid Cancer*/
	#exhibitor-2122,
	/*pan foundation*/
	#exhibitor-3493 {
    height: 250px;
  }
  /* Syneos */
  #exhibitor-3315 {
    height: 255px;
  }
  /* Cure Media */
  #exhibitor-2263,
	/*Brilliantly */
	#exhibitor-1940 {
    height: 150px;
  }
  /*Breast Advocate App*/
  #exhibitor-1934 {
    height: 200px;
  }
  /*Cervivor */
  #exhibitor-1977 {
    height: 180px;
  }
  /*DiepCFoundation*/
  #exhibitor-1995 {
    height: 240px;
  }
  /*Epic Adventures */
  #exhibitor-2086 {
    height: 350px;
  }
  /* MDS */
  #exhibitor-2070,
	/*IWMF*/
	#exhibitor-2052,
	/*Triage Cancer*/
	#exhibitor-2166,
	/*Tigferlily Cancer*/
	#exhibitor-2159 {
    height: 280px;
  }
  /*Young and Strong */
  #exhibitor-4257 {
    height: 270px;
  }
  /*Patient Story */
  #exhibitor-2239 {
    height: 150px;
  }
  /* SeaGen */
  #exhibitor-3921 {
    height: 110px;
  }
  /*EMD Serono */
  #exhibitor-4000 {
    height: 300px;
  }
}

@media screen and (max-width: 480px) {
  /* BMS Study Connect */
  #exhibitor-3902,
	/*patient power*/
	#exhibitor-2574,
	/*pan foundation*/
	#exhibitor-3493,
	/*Stupid Cancer*/
	#exhibitor-2122,
	/* AIM */
	#exhibitor-2731,
	/*ThYCA*/
	#exhibitor-2143,
	/* ABST */
	#exhibitor-1535,
	/*ASCP Patient Champions*/
	#exhibitor-1892,
	/*B-present*/
	#exhibitor-1912,
	/*BagIt*/
	#exhibitor-1924,
	/*Colon Cancer Coalition*/
	#exhibitor-2244,
	/* Lung Cancer Iniative */
	#exhibitor-2706,
	/* Keep a Breast */
	#exhibitor-2062 {
    margin-bottom: 3px;
    height: 250px;
  }
  /* Amgen*/
  #exhibitor-4075 {
    margin-bottom: 5px;
    height: 100px;
  }
  /* Ancora AI */
  #exhibitor-2723,
  #exhibitor-1869 {
    margin-bottom: 10px;
    height: 230px;
  }
  /* BreatCnacerTrials */
  #exhibitor-3511,
	/*Breast Advocate App*/
	#exhibitor-1934,
	/*The Atrium Foundation*/
	#exhibitor-4132 {
    height: 170px;
  }
  /* LLS */
  #exhibitor-2130,
	/*Aplastic Anemia & MDS International Foundation*/
	#exhibitor-1877 {
    height: 180px;
  }
  /*LLS*/
  #exhibitor-3343,
	/*Global Colon Cancer Association*/
	#exhibitor-2044,
	/*IWMF*/
	#exhibitor-2052,
	/* World Bladder*/
	#exhibitor-2181 {
    height: 220px;
  }
  /*Epic Adventures */
  #exhibitor-2086 {
    height: 330px;
  }
  /* MDS */
  #exhibitor-2070,
	/*Young-survival-coaliation*/
	#exhibitor-2196,
	/*Young and Strong */
	#exhibitor-4257,
	/*Tigferlily Cancer*/
	#exhibitor-2159 {
    height: 250px;
  }
  /*Triage Cancer*/
  #exhibitor-2166 {
    height: 240px;
  }
  /* SeaGen */
  #exhibitor-3921 {
    height: 100px;
  }
}

@media screen and (max-width: 428px) {
  /* BMS Study Connect */
  #exhibitor-3902,
	/*patient power*/
	#exhibitor-2574,
	/*pan foundation*/
	#exhibitor-3493,
	/* AIM */
	#exhibitor-2731,
	/*Stupid Cancer*/
	#exhibitor-2122,
	/*ThYCA*/
	#exhibitor-2143,
	/* ABST */
	#exhibitor-1535,
	/*ASCP Patient Champions*/
	#exhibitor-1892,
	/*B-present*/
	#exhibitor-1912,
	/*BagIt*/
	#exhibitor-1924,
	/*Colon Cancer Coalition*/
	#exhibitor-2244,
	/*Global Colon Cancer Association*/
	#exhibitor-2044,
	/* Lung Cancer Iniative */
	#exhibitor-2706,
	/* Keep a Breast */
	#exhibitor-2062 {
    margin-bottom: 7px;
    height: 200px;
  }
  /* Amgen*/
  #exhibitor-4075 {
    margin-bottom: 5px;
    height: 95px;
  }
  /* Ancora AI */
  #exhibitor-2723,
  #exhibitor-1869 {
    margin-bottom: 8px;
    height: 190px;
  }
  /* BreatCnacerTrials */
  #exhibitor-3511 {
    height: 140px;
  }
  /* Syneos */
  #exhibitor-3315,
	/* LLS */
	#exhibitor-3343,
	#exhibitor-2130,
	/*Aplastic Anemia & MDS International Foundation*/
	#exhibitor-1877 {
    height: 200px;
  }
  /* Cure Media */
  #exhibitor-2263,
	/*Brilliantly */
	#exhibitor-1940 {
    height: 130px;
  }
  /* Lungevity */
  #exhibitor-3876,
	/*abridge */
	#exhibitor-1858,
	/*DiepCFoundation*/
	#exhibitor-1995 {
    height: 200px;
  }
  /*Breast Advocate App*/
  #exhibitor-1934 {
    height: 150px;
  }
  /* Dear Jack */
  #exhibitor-1989,
	/*Health Central */
	#exhibitor-2587 {
    height: 180px;
    background-size: 100% auto;
    margin-bottom: 8px;
  }
  /* CancerCare */
  #exhibitor-1953 {
    height: 180px;
    background-size: 100% auto;
    margin-bottom: 8px;
  }
  /*Epic Adventures */
  #exhibitor-2086 {
    height: 270px;
  }
  /* MDS */
  #exhibitor-2070,
	/* Young Adult Survivor */
	#exhibitor-2193,
	/*Tigferlily Cancer*/
	#exhibitor-2159,
	/*Young and Strong */
	#exhibitor-4257 {
    height: 220px;
  }
  /*IWMF*/
  #exhibitor-2052,
	/*Young-survival-coaliation*/
	#exhibitor-2196 {
    height: 200px;
  }
  /*World Bladder*/
  #exhibitor-2181 {
    height: 195px;
  }
  /*Triage Cancer*/
  #exhibitor-2166 {
    height: 210px;
  }
  /*The Atrium Foundation*/
  #exhibitor-4132 {
    height: 150px;
  }
  /*Patient Story */
  #exhibitor-2239 {
    height: 115px;
  }
  /* SeaGen */
  #exhibitor-3921 {
    height: 85px;
  }
  /*EMD Serono */
  #exhibitor-4000 {
    height: 230px;
  }
}

@media screen and (max-width: 414px) {
  /* LLS */
  #exhibitor-3343,
	#exhibitor-2130,
	/*Aplastic Anemia & MDS International Foundation*/
	#exhibitor-1877 {
    height: 190px;
  }
  /* Cure Media */
  #exhibitor-2263,
	/*Brilliantly */
	#exhibitor-1940 {
    height: 120px;
  }
  /* Lungevity */
  #exhibitor-3876,
	/*abridge */
	#exhibitor-1858,
	/*World Bladder*/
	#exhibitor-2181 {
    height: 190px;
  }
  /*Cassie Hines */
  #exhibitor-1970,
	/*Cervivor */
	#exhibitor-1977 {
    height: 145px;
    background-size: 100% auto;
  }
  /* MDS */
  #exhibitor-2070,
	/*patient power*/
	#exhibitor-2574,
	/* Young Adult Survivor */
	#exhibitor-2193,
	/*Tigferlily Cancer*/
	#exhibitor-2159,
	/*ThYCA*/
	#exhibitor-2143 {
    height: 210px;
  }
  /*Young and Strong */
  #exhibitor-4257 {
    height: 200px;
  }
  /*The Atrium Foundation*/
  #exhibitor-4132 {
    height: 140px;
  }
}

@media screen and (max-width: 390px) {
  /*Breast Advocate App*/
  #exhibitor-1934 {
    height: 140px;
  }
  /*Cervivor */
  #exhibitor-1977 {
    height: 135px;
  }
  /*Immerman's Angels */
  #exhibitor-2200,
	/* MDS */
	#exhibitor-2070,
	/* Young Adult Survivor */
	#exhibitor-2193,
	/*Tigferlily Cancer*/
	#exhibitor-2159,
	/*Triage Cancer*/
	#exhibitor-2166 {
    height: 200px;
  }
  /*World Bladder*/
  #exhibitor-2181 {
    height: 175px;
  }
  /*Triage Cancer*/
  #exhibitor-2166,
	/*Tigferlily Cancer*/
	#exhibitor-2159 {
    height: 190px;
  }
  /*The Atrium Foundation*/
  #exhibitor-4132 {
    height: 130px;
  }
  /*Patient Story */
  #exhibitor-2239 {
    height: 105px;
  }
  /* SeaGen */
  #exhibitor-3921 {
    height: 80px;
  }
}

@media screen and (max-width: 384px) {
  /* BMS Study Connect */
  #exhibitor-3902,
	/*pan foundation*/
	#exhibitor-3493,
	/*patient power*/
	#exhibitor-2574,
	/*Stupid Cancer*/
	#exhibitor-2122,
	/*ThYCA*/
	#exhibitor-2143,
	/* AIM */
	#exhibitor-2731,
	/* ABST */
	#exhibitor-1535,
	/*B-present*/
	#exhibitor-1912,
	/*BagIt*/
	#exhibitor-1924,
	/*Colon Cancer Coalition*/
	#exhibitor-2244,
	/* Lung Cancer Iniative */
	#exhibitor-2706,
	/* Keep a Breast */
	#exhibitor-2062 {
    margin-bottom: 6px;
    height: 170px;
  }
  /* Amgen*/
  #exhibitor-4075 {
    margin-bottom: 5px;
    height: 85px;
  }
  /* Ancora AI */
  #exhibitor-2723,
  #exhibitor-1869 {
    margin-bottom: 10px;
    height: 175px;
  }
  /* BreatCnacerTrials */
  #exhibitor-3511 {
    height: 130px;
  }
  /*LLS*/
  #exhibitor-3343,
	#exhibitor-2130,
	/*Aplastic Anemia & MDS International Foundation*/
	#exhibitor-1877,
	/*Global Colon Cancer Association*/
	#exhibitor-2044 {
    height: 180px;
  }
  /* Lungevity */
  #exhibitor-3876,
	/*abridge */
	#exhibitor-1858,
	/*Cervivor */
	#exhibitor-1977,
	/*World Bladder*/
	#exhibitor-2181 {
    height: 170px;
  }
  /*Epic Adventures */
  #exhibitor-2086 {
    height: 260px;
  }
  /*Young and Strong */
  #exhibitor-4257 {
    height: 190px;
  }
  /*Patient Story */
  #exhibitor-2239 {
    height: 105px;
  }
  /* SeaGen */
  #exhibitor-3921 {
    height: 78px;
  }
}

@media screen and (max-width: 375px) {
  #exhibitor-3515 {
    height: 180px;
  }
  #exhibitor-1970,
	/*Cervivor */
	#exhibitor-1977 {
    height: 130px;
  }
  /* Cure Media */
  #exhibitor-2263,
	/*Brilliantly */
	#exhibitor-1940 {
    height: 110px;
  }
  /* MDS */
  #exhibitor-2070,
	/*IWMF*/
	#exhibitor-2052,
	/* Young Adult Survivor */
	#exhibitor-2193 {
    height: 195px;
  }
  #exhibitor-3343 {
    height: 170px;
  }
}

@media screen and (max-width: 360px) {
  /* BMS Study Connect */
  #exhibitor-3902,
	/*Stupid Cancer*/
	#exhibitor-2122,
	/*patient power*/
	#exhibitor-2574,
	/*pan foundation*/
	#exhibitor-3493,
	/*ThYCA*/
	#exhibitor-2143,
	/* AIM */
	#exhibitor-2731,
	/*B-present*/
	#exhibitor-1912,
	#exhibitor-192,
	/*Global Colon Cancer Association*/
	#exhibitor-2044,
	/* Lung Cancer Iniative */
	#exhibitor-2706,
	/* Keep a Breast */
	#exhibitor-2062 {
    margin-bottom: 6px;
    height: 170px;
  }
  /* Amgen*/
  #exhibitor-4075 {
    margin-bottom: 5px;
    height: 85px;
  }
  #exhibitor-2723,
  #exhibitor-1869 {
    margin-bottom: 5px;
    height: 170px;
  }
  /* BreatCnacerTrials */
  #exhibitor-3511,
	/*The Atrium Foundation*/
	#exhibitor-4132 {
    height: 120px;
  }
  /* LLS */
  #exhibitor-3343,
	#exhibitor-2130,
	/*Aplastic Anemia & MDS International Foundation*/
	#exhibitor-1877 {
    height: 160px;
  }
  /* Lungevity */
  #exhibitor-3876,
	/*abridge */
	#exhibitor-1858,
	/*World Bladder*/
	#exhibitor-2181 {
    height: 160px;
  }
  /*ASCP Patient Champions*/
  #exhibitor-1892,
	/* MDS */
	#exhibitor-2070 {
    height: 185px;
  }
  /*Breast Advocate App*/
  #exhibitor-1934,
	/*Cervivor */
	#exhibitor-1977 {
    height: 120px;
  }
  #exhibitor-1970 {
    height: 125px;
  }
  /*DiepCFoundation*/
  #exhibitor-1995,
	/*Immerman's Angels */
	#exhibitor-2200,
	/*Tigferlily Cancer*/
	#exhibitor-2159,
	/*IWMF*/
	#exhibitor-2052,
	/* Young Adult Survivor */
	#exhibitor-2193,
	/*Young-survival-coaliation*/
	#exhibitor-2196,
	/*Young and Strong */
	#exhibitor-4257,
	/*Triage Cancer*/
	#exhibitor-2166 {
    height: 180px;
  }
  /*Epic Adventures */
  #exhibitor-2086 {
    height: 220px;
  }
  /*Patient Story */
  #exhibitor-2239 {
    height: 100px;
  }
  /* SeaGen */
  #exhibitor-3921 {
    height: 72px;
  }
}

@media screen and (max-width: 320px) {
  /* BMS Study Connect */
  #exhibitor-3902,
	/*pan foundation*/
	#exhibitor-3493,
	/*patient power*/
	#exhibitor-2574,
	/*Stupid Cancer*/
	#exhibitor-2122,
	/*ThYCA*/
	#exhibitor-2143,
	/* AIM */
	#exhibitor-2731,
	/*B-present*/
	#exhibitor-1912,
	#exhibitor-1989,
	/*Colon Cancer Coalition*/
	#exhibitor-2244,
	/*Global Colon Cancer Association*/
	#exhibitor-2044,
	/*Immerman's Angels */
	#exhibitor-2200,
	/* CancerCare */
	#exhibitor-1953,
	/* Keep a Breast */
	#exhibitor-2062 {
    margin-bottom: 6px;
    height: 150px;
  }
  /* Amgen*/
  #exhibitor-4075 {
    margin-bottom: 5px;
    height: 70px;
  }
  /* Ancora AI */
  #exhibitor-2723,
	#exhibitor-1869,
	/*DiepCFoundation*/
	#exhibitor-1995,
	/*Health Central */
	#exhibitor-2587,
	/*IWMF*/
	#exhibitor-2052 {
    margin-bottom: 5px;
    height: 150px;
  }
  /* BreatCnacerTrials */
  #exhibitor-3511,
	/*Breast Advocate App*/
	#exhibitor-1934,
	/*Cassie Hines */
	#exhibitor-1970,
	/*Cervivor */
	#exhibitor-1977 {
    height: 110px;
  }
  /* LLS */
  #exhibitor-3343,
	#exhibitor-2130,
	/*Aplastic Anemia & MDS International Foundation*/
	#exhibitor-1877 {
    height: 145px;
  }
  #exhibitor-3515,
	/* MDS */
	#exhibitor-2070,
	/* Young Adult Survivor */
	#exhibitor-2193,
	/*Young-survival-coaliation*/
	#exhibitor-2196,
	/*Young and Strong */
	#exhibitor-4257,
	/*Tigferlily Cancer*/
	#exhibitor-2159 {
    height: 160px;
  }
  /* Cure Media */
  #exhibitor-2263,
	/*Brilliantly */
	#exhibitor-1940 {
    height: 95px;
  }
  /*Patient Story */
  #exhibitor-2239 {
    height: 85px;
  }
  /* Lungevity */
  #exhibitor-3876,
	/*abridge */
	#exhibitor-1858,
	/*World Bladder*/
	#exhibitor-2181 {
    height: 140px;
  }
  /*Epic Adventures */
  #exhibitor-2086 {
    height: 200px;
  }
  /*Triage Cancer*/
  #exhibitor-2166 {
    height: 150px;
  }
  /*The Atrium Foundation*/
  #exhibitor-4132 {
    height: 100px;
  }
  /* SeaGen */
  #exhibitor-3921 {
    height: 60px;
  }
  /*EMD Serono */
  #exhibitor-4000 {
    height: 200px;
  }
}

@media screen and (max-width: 280px) {
  /*Immerman's Angels */
  #exhibitor-2200 {
    height: 120px;
  }
  /* BMS Study Connect */
  #exhibitor-3902,
	/*patient power*/
	#exhibitor-2574,
	/*ThYCA*/
	#exhibitor-2143,
	/*Stupid Cancer*/
	#exhibitor-2122,
	/* AIM */
	#exhibitor-2731,
	/* ABST */
	#exhibitor-1535,
	/*ASCP Patient Champions*/
	#exhibitor-1892,
	/*B-present*/
	#exhibitor-1912,
	/*BagIt*/
	#exhibitor-1924,
	/*Colon Cancer Coalition*/
	#exhibitor-2244,
	/* Lung Cancer Iniative */
	#exhibitor-2706,
	/* Keep a Breast */
	#exhibitor-2062 {
    margin-bottom: 6px;
    height: 130px;
  }
  /* Amgen*/
  #exhibitor-4075 {
    margin-bottom: 5px;
    height: 60px;
  }
  /* BMS Study Connect */
  #exhibitor-3902,
	/* AIM */
	#exhibitor-2731,
	/*Triage Cancer*/
	#exhibitor-2166 {
    margin-bottom: 5px;
    height: 130px;
  }
  /*Ancore AI*/
  #exhibitor-2723,
  #exhibitor-1869 {
    margin-bottom: 5px;
    height: 125px;
  }
  #exhibitor-3515,
	/*Cacer Care */
	#exhibitor-1953,
	/* Young Adult Survivor */
	#exhibitor-2193,
	/*Young-survival-coaliation*/
	#exhibitor-2196,
	/*Tigferlily Cancer*/
	#exhibitor-2159,
	/*pan foundation*/
	#exhibitor-3493 {
    height: 140px;
  }
  /*DiepCFoundation*/
  #exhibitor-1995,
	/*Global Colon Cancer Association*/
	#exhibitor-2044 {
    height: 130px;
  }
  /*Epic Adventures */
  #exhibitor-2086 {
    height: 180px;
  }
  /* MDS */
  #exhibitor-2070 {
    height: 120px;
  }
  /*Young and Strong */
  #exhibitor-4257 {
    height: 135px;
  }
  /*The Atrium Foundation*/
  #exhibitor-4132 {
    height: 90px;
  }
  /*Patient Story */
  #exhibitor-2239 {
    height: 75px;
  }
  /* SeaGen */
  #exhibitor-3921 {
    height: 50px;
  }
  /*EMD Serono */
  #exhibitor-4000 {
    height: 180px;
  }
}
