@inherits Umbraco.Web.Mvc.UmbracoViewPage
<style>
    .modal {
         background:none; 
         border:none;
         box-shadow:none;
       
    }
    .
</style>


<div class="modal fade" id="form" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div id="addmodel-content" class="modal-content">
      <div class="modal-header border-bottom-0">
        <h5 class="modal-title" id="exampleModalLabel">Create A Note</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      @{Html.RenderAction("AddNote", "Note2Surface");}
    </div>
  </div>
</div>
