<style>
.img-padding {
    padding:.75rem
} 

</style>

<div class="umb-grid">
      
            <div class="grid-section">
    
        <div class="container d-flex py-4">
            <div class="row flex-grow-1">
<div class="container">

    <div class="col-lg-12">
        <p style="text-align:center; color:#595454; font-size:1.50rem;">Founding Partners</p>
            <div class="row">
                <br>
                <div class="col-lg-12 py-3">
                <a href="https://www.theadvocacyexchange.com/about/exhibitors/bristol-myers-squibb/"><p style="text-align:center"><img style="max-width:450px;
        max-height:130px;" class="img-fluid" src="https://s3.us-east-1.amazonaws.com/gvcc2021/conference/xbjflgdz/bms-logo-gvccc.png" alt="BMS Logo"/></p></a>
                </div>
                <div class="col-lg-12 py-3">
                <a href="https://www.theadvocacyexchange.com/about/exhibitors/gryt-health/"><p style="text-align:center"><img style="max-width:200px;
        max-height:130px;" class="img-fluid" src="https://theadvocacyexchange.com/media/ucdnqiyg/gryt_health_logo_purple_web.png" alt="GRYT Health Logo"/></p></a>
                </div>
            </div>
        
        
        <br>
        
        <p style="text-align:center; color:#595454; font-size:1.50rem;">Organizations available to live chat</p>
    </div>

     <div class="row">  
           <div class="col-lg-12" style="text-align:center;">
               
            
            <a href="#"><img style="max-width:200px; max-height:130px;" class="img-padding" src="https://s3.us-east-1.amazonaws.com/grytportal/conference/advexch/uhifn1uj/afc-logo.png" alt="A Fresh Chapter"/></a> 
            <a href="https://www.theadvocacyexchange.com/about/exhibitors/american-partnership-for-eosinophilic-disorders/"><img style="max-width:200px; max-height:130px;" class="img-padding" src="https://s3.us-east-1.amazonaws.com/grytportal/conference/advexch/4aof5iw3/apfed_logo_286-copy-1.jpg" alt="American Partnership for Eosinophilic Disorders" /></a>
            <a href="https://www.theadvocacyexchange.com/about/exhibitors/bag-it/"><img style="max-width:200px; max-height:130px;" class="img-padding" src="https://s3.us-east-1.amazonaws.com/grytportal/conference/advexch/gkspmxsr/bag-it-300x146.png" alt="Bag It"/></a>
            <a href="https://www.theadvocacyexchange.com/about/exhibitors/cancer-hope-network/"><img style="max-width:200px; max-height:130px;" class="img-padding" src="https://s3.us-east-1.amazonaws.com/grytportal/conference/advexch/jqtmu1nz/gryt-logo-2021.png" alt="Cancer Hope Network"/></a>
            <a href="#"><img style="max-width:200px; max-height:130px;" class="img-padding" src="https://s3.us-east-1.amazonaws.com/grytportal/conference/advexch/y5iii3ke/logo-1.png" alt="Cancer Support Community"/></a>
            <a href="#"><img style="max-width:200px; max-height:130px;" class="img-padding" src="https://s3.us-east-1.amazonaws.com/grytportal/conference/advexch/1d4hj3uf/ccc_logo-color-new.png" alt="Children's Cancer Cause"/></a>
            <a href="https://www.theadvocacyexchange.com/about/exhibitors/community-oncology-alliance-coa/"><img style="max-width:200px; max-height:130px;" class="img-padding" src="https://s3.us-east-1.amazonaws.com/grytportal/conference/advexch/lbylhzwq/cpan_logo-360x150-1.jpg" alt="Community Oncology Alliance (COA)"/></a>
            <a href="#"><img style="max-width:200px; max-height:130px;" class="img-padding" src="https://s3.us-east-1.amazonaws.com/grytportal/conference/advexch/4vkorwcb/bms-advocacy-logo.png" alt="Crossroads4Hope"/></a>
            <a href="https://www.theadvocacyexchange.com/about/exhibitors/eu-ipff-european-idiopathic-pulmonary-fibrosis-relater-disorders-federation/"><img style="max-width:200px; max-height:130px;" class="img-padding" src="https://s3.us-east-1.amazonaws.com/grytportal/conference/advexch/hqmhcfgt/eu-ipff_logo-rgb_600.png" alt="EU-IPFF European Idiopathic Pulmonary Fibrosis & Relater Disorders Federation"/></a>
            <a href="https://www.theadvocacyexchange.com/about/exhibitors/gryt-health/"><img style="max-width:200px; max-height:130px;" class="img-padding" src="https://theadvocacyexchange.com/media/ucdnqiyg/gryt_health_logo_purple_web.png" alt="GRYT Health Logo"/></p></a>
            <a href="https://www.theadvocacyexchange.com/about/exhibitors/hepatitis-b-foundation/"><img style="max-width:200px; max-height:130px;" class="img-padding" src="https://s3.us-east-1.amazonaws.com/grytportal/conference/advexch/lwvbnt1n/hepatitis-b-30th-logo.png" alt="Hepatitis B Foundation"/></a>
            <a href="#"><img style="max-width:200px; max-height:130px;" class="img-padding" src="https://s3.us-east-1.amazonaws.com/grytportal/conference/advexch/pgonm4ah/hfsc-taglinelogo.png" alt="Hope for Stomach Cancer"/></a>
            <a href="https://www.theadvocacyexchange.com/about/exhibitors/international-alliance-of-dermatology-patient-organizations-also-known-as-globalskin/"><img style="max-width:200px; max-height:130px;" class="img-padding" src="https://s3.us-east-1.amazonaws.com/grytportal/conference/advexch/424bwfdo/logo-new.png" alt="International Alliance of Dermatology Patient Organizations"/></a>
            <a href="https://www.theadvocacyexchange.com/about/exhibitors/the-leukemia-lymphoma-society/"><img style="max-width:200px; max-height:130px;" class="img-padding" src="https://s3.us-east-1.amazonaws.com/grytportal/conference/advexch/xvpcwlig/leukemia_lymphoma_society_logo.jpeg" alt="The Leukemia & Lymphoma Society"/></a>
            <a href="#"><img style="max-width:200px; max-height:130px;" class="img-padding" src="https://s3.us-east-1.amazonaws.com/grytportal/conference/advexch/xtnbh4mx/advocacy-exchange-exhibit-booth_logo.png" alt="Living Beyond Breast Cancer"/></a>
            <a href="https://www.theadvocacyexchange.com/about/exhibitors/myelodysplastic-syndromes-mds-foundation-inc/"><img style="max-width:200px; max-height:130px;" class="img-padding" src="https://s3.us-east-1.amazonaws.com/grytportal/conference/advexch/zj5hsema/mds-logo.jpg" alt="Myelodysplastic Syndromes (MDS) Foundation, Inc"/></a>
            <a href="#"><img style="max-width:200px; max-height:130px;" class="img-padding" src="https://s3.us-east-1.amazonaws.com/grytportal/conference/advexch/mgbnsy20/msfocus-logo.png" alt="Multiple Sclerosis Foundation National Headquarters"/></a>
            <a href="https://www.theadvocacyexchange.com/about/exhibitors/national-coalition-for-cancer-survivorship/"><img style="max-width:200px; max-height:130px;" class="img-padding" src="https://s3.us-east-1.amazonaws.com/grytportal/conference/advexch/pgehb4a3/nccs_logo-blue-yellow-transparent-500x200-1.png" alt="National Coalition for Cancer Survivorship"/></a>
            <a href="https://www.theadvocacyexchange.com/about/exhibitors/safe-stroke/"><img style="max-width:200px; max-height:130px;" class="img-padding" src="https://s3.us-east-1.amazonaws.com/grytportal/conference/advexch/yqdi0nxd/safe-purple-logo-new.png" alt="Safe Stroke"/></a>
            <a href="#"><img style="max-width:200px; max-height:130px;" class="img-padding" src="https://s3.us-east-1.amazonaws.com/grytportal/conference/advexch/p42pb1wi/share-2021-logo.png" alt="SHARE"/></a>
            <a href="https://www.theadvocacyexchange.com/about/exhibitors/triage-cancer/"><img style="max-width:200px; max-height:130px;" class="img-padding" src="https://s3.us-east-1.amazonaws.com/grytportal/conference/advexch/uqeetebu/triage-cancer-logo-400.webp" alt="Triage Cancer"></a>        
   <br>
    </div>
   

</div></div></div></div></div></div>
